body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
    position: relative;
    width: 100svw;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
select,
button {
    width: 90%;
    margin: 0px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    width: 90%;
}

button:hover {
    background-color: #45a049;
}

a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}


h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}


a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

td a {
    color: #007bff;
    font-weight: normal;
    text-decoration: none;
    margin-right: 8px;
}

td a:hover {
        color: #3700ff;
}

tbody tr:hover {
    background-color: #e6f7ff;
}



/* new nav styel */
.navbar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 12px 20px;
    color: white;
    border-radius: 6px;
    margin-bottom: 30px;
    width: 98%;
}

.navbar-left span {
    font-size: 20px;
    font-weight: bold;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}



.page-data {
    padding: 10rem;
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.cardcontainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 10rem;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card h2 {
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 28px;
    font-weight: bold;
    color: #4CAF50;
}