<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <span>Users</span>
        </div>
        <div class="navbar-right">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/products}">Products</a>
            <a th:href="@{/users}">Users</a>
            <a th:href="@{/orders}">Orders</a>
        </div>
    </nav>
    <div class="page-data">
        <a href="/users/add">Add New User</a>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.password}"></td>
                    <td>
                        <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> |
                        <a th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>